.button-group {
  display: flex;
  gap: .25rem;
}

.button-group button,
.button-group .button {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  min-width: initial;
}

#primaryNavigation button {
  padding-left: .45rem;
  padding-right: .45rem;
  font-size: clamp(.95rem, 1.8vw, 1.5rem);
  line-height: 1.1;
}